    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containerSearch{
    margin-top: 15px;
    width: 100vw;
    background-color: rgb(216, 212, 207);
    display: flex;
    justify-content: center;
    min-height: 100px;
    flex-flow: row wrap;
}
.btns{
    margin: 30px 5px -5px 5px;
    
    
}
input{
    padding: 10px;
    border-radius: 20px;
    font-family: 'Tahoma';
}
input:hover{
    background-color: rgb(216, 212, 207);
}