@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    box-sizing: border-box;
}
:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body{
    min-height: 100vh;
    overflow: scroll;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style-type: none;
    border-top-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li form{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover form,
.navigation ul li.hovered form{
    color: var(--blue);
}
.navigation ul li form .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li form .icon ion-icon{
    font-size: 1.75em;

}
.navigation ul li form .title{
    position: relative;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: none;
    width: 100%;
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
.navigation ul li:hover form::before,
.navigation ul li.hovered form::before{
    content: '';
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover form::after,
.navigation ul li.hovered form::after{
    content: '';
    position: absolute;
    right: 0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/*main*/

.main{
    position: absolute;
    width: calc(100% - 300px);
    left:300px;
    min-height: 100vh;
    background-color: var(--white);
    transition: 0.5s;
}
.main.active{
    left:80px;
    width: calc(100% - 80px);
}

.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(228, 227, 227);
    
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;

}
.user{
    position: relative;
    width: 400px;
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    
    
}
.user ion-icon{
    border-radius: 50%;
    border: 2px solid black;
    padding: 8px;
    min-width: 26px;
    max-width: 26px;
    margin-left: 7px;
}
#LogOut-btn{
    height: 80%;
    width: 50px;
    transition: width 0.5s linear;
    background-color: inherit;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    border: none;
    margin-left: 5px;
}
#LogOut-btn>ion-icon{
    border: 1px solid black;
    
    min-width: 26px;
    margin: 1px 6px 0 3px;
}
#LogOut-btn>h6{
    margin-right: 5px;
    
}
#LogOut-btn:hover{
    width: 110px;  
}

/* Table */

.main>.list-container{
    
    
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 150px 0;
    flex-direction: column;
}
.main>.list-container>.ele-list{
    border: none;
    width: 80%;
    border-radius: 50px;
    padding: 15px;
    
    border: 2px solid var(--blue);
    background-color: var(--blue);
}

.main>.list-container>.ele-list>tbody>tr>td{
    border: 2px solid var(--blue);
    
}
.main>.list-container>.ele-list>thead>tr:nth-child(1)>td:nth-child(1){
    border-top-left-radius: 30px;
}
.main>.list-container>.ele-list>thead>tr:nth-child(1)>td:nth-child(4){
    border-top-right-radius: 30px;
}
.main>.list-container>.ele-list>tbody>tr:last-child>td:nth-child(1){
    border-bottom-left-radius: 30px;
}
.main>.list-container>.ele-list>tbody>tr:last-child>td:nth-child(4){
    border-bottom-right-radius: 30px;
}

thead>tr>td{
    padding: 25px 3px;
    font-size: 1.1rem;
    color: var(--white);
    font-weight: bolder;
    text-align: center;
}
tbody{
    background-color: var(--white);
}

tbody>tr>td{
    padding: 25px 3px;
    font-size: 1.1rem;
    
}
tbody>tr>td>a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
}
tbody>tr>td:nth-child(2),tbody>tr>td:nth-child(3){
    width: 30%;
}
tbody>tr>td:nth-child(1){
    padding-left: 20px;
}
.list-container>h1{
    padding-bottom: 50px;
    font-size: 3.2rem;
    color: var(--black1);
}